    /*
    Flaticon icon font: Flaticon
    Creation date: 07/11/2017 07:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shopping-list:before { content: "\f100"; }
.flaticon-new:before { content: "\f101"; }
.flaticon-box-1:before { content: "\f102"; }
.flaticon-box:before { content: "\f103"; }
.flaticon-credit-card:before { content: "\f104"; }
.flaticon-discount:before { content: "\f105"; }
.flaticon-city-hall:before { content: "\f106"; }
.flaticon-people-4:before { content: "\f107"; }
.flaticon-eco-energy:before { content: "\f108"; }
.flaticon-flower-with-leaves:before { content: "\f109"; }
.flaticon-two-leaves:before { content: "\f10a"; }
.flaticon-technology-1:before { content: "\f10b"; }
.flaticon-take-out-from-the-cart:before { content: "\f10c"; }
.flaticon-idea-1:before { content: "\f10d"; }
.flaticon-idea:before { content: "\f10e"; }
.flaticon-bulb:before { content: "\f10f"; }
.flaticon-people-3:before { content: "\f110"; }
.flaticon-delivery-van:before { content: "\f111"; }
.flaticon-logistics-delivery-truck-and-clock:before { content: "\f112"; }
.flaticon-logistics-delivery-truck-in-movement:before { content: "\f113"; }
.flaticon-people-2:before { content: "\f114"; }
.flaticon-give-money:before { content: "\f115"; }
.flaticon-piggy-bank:before { content: "\f116"; }
.flaticon-money:before { content: "\f117"; }
.flaticon-profits:before { content: "\f118"; }
.flaticon-dollar-sign-and-piles-of-coins:before { content: "\f119"; }
.flaticon-dollar-coin-stack:before { content: "\f11a"; }
.flaticon-statistics:before { content: "\f11b"; }
.flaticon-businessman:before { content: "\f11c"; }
.flaticon-increase:before { content: "\f11d"; }
.flaticon-stats:before { content: "\f11e"; }
.flaticon-businesswoman:before { content: "\f11f"; }
.flaticon-graph-line-screen:before { content: "\f120"; }
.flaticon-progress-report:before { content: "\f121"; }
.flaticon-cogwheel:before { content: "\f122"; }
.flaticon-market:before { content: "\f123"; }
.flaticon-marketing:before { content: "\f124"; }
.flaticon-megaphone:before { content: "\f125"; }
.flaticon-seo-performance-marketing-graphic:before { content: "\f126"; }
.flaticon-bar-chart:before { content: "\f127"; }
.flaticon-atom-symbol-in-man-head:before { content: "\f128"; }
.flaticon-bald-head-with-science-symbol:before { content: "\f129"; }
.flaticon-atomic-orbitals:before { content: "\f12a"; }
.flaticon-atomic:before { content: "\f12b"; }
.flaticon-atom:before { content: "\f12c"; }
.flaticon-profile:before { content: "\f12d"; }
.flaticon-job:before { content: "\f12e"; }
.flaticon-user:before { content: "\f12f"; }
.flaticon-settings-1:before { content: "\f130"; }
.flaticon-global-search:before { content: "\f131"; }
.flaticon-global-grid-screen:before { content: "\f132"; }
.flaticon-balance:before { content: "\f133"; }
.flaticon-weight-scale:before { content: "\f134"; }
.flaticon-symbol:before { content: "\f135"; }
.flaticon-graduation:before { content: "\f136"; }
.flaticon-animal:before { content: "\f137"; }
.flaticon-circular-light-bulb:before { content: "\f138"; }
.flaticon-creative-man-with-lightbulb-head:before { content: "\f139"; }
.flaticon-new-idea:before { content: "\f13a"; }
.flaticon-light-bulb:before { content: "\f13b"; }
.flaticon-tool:before { content: "\f13c"; }
.flaticon-shopping:before { content: "\f13d"; }
.flaticon-sign:before { content: "\f13e"; }
.flaticon-add-to-shopping-cart:before { content: "\f13f"; }
.flaticon-technology:before { content: "\f140"; }
.flaticon-people-1:before { content: "\f141"; }
.flaticon-business:before { content: "\f142"; }
.flaticon-people:before { content: "\f143"; }
.flaticon-idea-hand-drawn-symbol-of-a-side-head-with-a-lightbulb-inside:before { content: "\f144"; }
.flaticon-global-user:before { content: "\f145"; }
.flaticon-earth-globe:before { content: "\f146"; }
.flaticon-settings:before { content: "\f147"; }
.flaticon-circle-of-four-arrows:before { content: "\f148"; }
.flaticon-1233456:before { content: "\f149"; }
.flaticon-group-profile-users:before { content: "\f14a"; }
.flaticon-horse-black-head-silhouette-of-a-chess-piece:before { content: "\f14b"; }
.flaticon-pawn-black-silhouette:before { content: "\f14c"; }
.flaticon-heart:before { content: "\f14d"; }
.flaticon-heart-1:before { content: "\f14e"; }
.flaticon-heart-insurance:before { content: "\f14f"; }
.flaticon-fashion:before { content: "\f150"; }
.flaticon-heart-shape:before { content: "\f151"; }
.flaticon-delivery-truck:before { content: "\f152"; }
    
    $font-Flaticon-shopping-list: "\f100";
    $font-Flaticon-new: "\f101";
    $font-Flaticon-box-1: "\f102";
    $font-Flaticon-box: "\f103";
    $font-Flaticon-credit-card: "\f104";
    $font-Flaticon-discount: "\f105";
    $font-Flaticon-city-hall: "\f106";
    $font-Flaticon-people-4: "\f107";
    $font-Flaticon-eco-energy: "\f108";
    $font-Flaticon-flower-with-leaves: "\f109";
    $font-Flaticon-two-leaves: "\f10a";
    $font-Flaticon-technology-1: "\f10b";
    $font-Flaticon-take-out-from-the-cart: "\f10c";
    $font-Flaticon-idea-1: "\f10d";
    $font-Flaticon-idea: "\f10e";
    $font-Flaticon-bulb: "\f10f";
    $font-Flaticon-people-3: "\f110";
    $font-Flaticon-delivery-van: "\f111";
    $font-Flaticon-logistics-delivery-truck-and-clock: "\f112";
    $font-Flaticon-logistics-delivery-truck-in-movement: "\f113";
    $font-Flaticon-people-2: "\f114";
    $font-Flaticon-give-money: "\f115";
    $font-Flaticon-piggy-bank: "\f116";
    $font-Flaticon-money: "\f117";
    $font-Flaticon-profits: "\f118";
    $font-Flaticon-dollar-sign-and-piles-of-coins: "\f119";
    $font-Flaticon-dollar-coin-stack: "\f11a";
    $font-Flaticon-statistics: "\f11b";
    $font-Flaticon-businessman: "\f11c";
    $font-Flaticon-increase: "\f11d";
    $font-Flaticon-stats: "\f11e";
    $font-Flaticon-businesswoman: "\f11f";
    $font-Flaticon-graph-line-screen: "\f120";
    $font-Flaticon-progress-report: "\f121";
    $font-Flaticon-cogwheel: "\f122";
    $font-Flaticon-market: "\f123";
    $font-Flaticon-marketing: "\f124";
    $font-Flaticon-megaphone: "\f125";
    $font-Flaticon-seo-performance-marketing-graphic: "\f126";
    $font-Flaticon-bar-chart: "\f127";
    $font-Flaticon-atom-symbol-in-man-head: "\f128";
    $font-Flaticon-bald-head-with-science-symbol: "\f129";
    $font-Flaticon-atomic-orbitals: "\f12a";
    $font-Flaticon-atomic: "\f12b";
    $font-Flaticon-atom: "\f12c";
    $font-Flaticon-profile: "\f12d";
    $font-Flaticon-job: "\f12e";
    $font-Flaticon-user: "\f12f";
    $font-Flaticon-settings-1: "\f130";
    $font-Flaticon-global-search: "\f131";
    $font-Flaticon-global-grid-screen: "\f132";
    $font-Flaticon-balance: "\f133";
    $font-Flaticon-weight-scale: "\f134";
    $font-Flaticon-symbol: "\f135";
    $font-Flaticon-graduation: "\f136";
    $font-Flaticon-animal: "\f137";
    $font-Flaticon-circular-light-bulb: "\f138";
    $font-Flaticon-creative-man-with-lightbulb-head: "\f139";
    $font-Flaticon-new-idea: "\f13a";
    $font-Flaticon-light-bulb: "\f13b";
    $font-Flaticon-tool: "\f13c";
    $font-Flaticon-shopping: "\f13d";
    $font-Flaticon-sign: "\f13e";
    $font-Flaticon-add-to-shopping-cart: "\f13f";
    $font-Flaticon-technology: "\f140";
    $font-Flaticon-people-1: "\f141";
    $font-Flaticon-business: "\f142";
    $font-Flaticon-people: "\f143";
    $font-Flaticon-idea-hand-drawn-symbol-of-a-side-head-with-a-lightbulb-inside: "\f144";
    $font-Flaticon-global-user: "\f145";
    $font-Flaticon-earth-globe: "\f146";
    $font-Flaticon-settings: "\f147";
    $font-Flaticon-circle-of-four-arrows: "\f148";
    $font-Flaticon-1233456: "\f149";
    $font-Flaticon-group-profile-users: "\f14a";
    $font-Flaticon-horse-black-head-silhouette-of-a-chess-piece: "\f14b";
    $font-Flaticon-pawn-black-silhouette: "\f14c";
    $font-Flaticon-heart: "\f14d";
    $font-Flaticon-heart-1: "\f14e";
    $font-Flaticon-heart-insurance: "\f14f";
    $font-Flaticon-fashion: "\f150";
    $font-Flaticon-heart-shape: "\f151";
    $font-Flaticon-delivery-truck: "\f152";